html {
	font-size: 16px;
	padding: 0;
}
body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
	font-size: 1em;
	margin: 0;
}

.container{
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.825em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.3125em;
    padding: 0 1.825em;
}

/*The widths are in a percentage!*/
header {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: column;
}

header h1 {
	margin: 0;
	padding: 0.75em 0;
	border-bottom: 3px solid #77a466;
}

header h1 span {
	color: #77a466;
}

header nav ul {
	padding: 0;
	margin: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 1em 0.625em;
	display: flex;
	flex-flow: column;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	width: 90%;
	display: flex;
	justify-content: flex-start;
	align-items:center;
	flex-flow: column;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title h2 {
	text-align: left;
	padding: 0.3125em 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625em;
}

.section-one,
.section-two,
.section-three {
	border-top: 1px solid #eee;
	width: 100%;
}

.section-one h3 {
	padding: 0.625em 0;
}

.section-two h3,
.section-three h3 {
	padding: 0.625em;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 0.625em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

/*****MEDIA QUERIES****/
/***TABLET***/
@media (min-width: 768px) {
.bottom-section {
	flex-flow: row wrap;
	align-items: flex-start;
}

.section-one,
.section-two,
.section-three {
	width: 33%;
	border-top: 1px solid #eee;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
}

@media (min-width: 1200px) {

header {
	flex-flow: row;
	justify-content: center;
	justify-content: space-between;
	width: 90%;
}

 header nav ul li {
	 display: inline;
 }
}
